@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>*@
<h3>Consideraciones:</h3>
<ul>
    <li>Por comodidad y que no se indicado lo contrario en la prueba, se ha desarrollado una Rest API, devolviendo y recogiendo datos en formato Json.</li>
    <li>En el apartado Api, estan listadas todas la peticiones disponibles.</li>
    <li>El modelo que sigue la aplicación está localizado en la carpeta "Esquema" de la raíz del proyecto.</li>
    <li>Por requisitos de la prueba los datos no se persisten en una base de datos. Por lo que se optado por almacenarlo localmente en archivos Json, en la carpeta de denominada "Data". He dejado algunos archivos ejemplo con datos por lo que ya se puede interactuar.</li>
    <li>Para comodidad he dejado un archivo que se puede importar a Insomnia (Similar a postman pero no es necesario registrarse), con las pruebas que he realizado sobre la API, para que sirva para interactuar con las peticiones disponibles de la API. Se encuentra en la carpeta TestInsomnia. Para importar el archvo, dentro de insomnia solo hay que situarse el cuadro morado con las palabras "insomnia": import/export => import Data => from File y elegir el fichero. Una vez importado, sobre "No enviromment", pichar en el desplegable: Manage Enviromment y en la ventana modificar la variable "baseurl" a la direccion que iss express abre la aplicación una vez compilada y ejecutada. </li>
</ul>
